html, body, * {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

/* .hero {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.hero-header {
    background-color: #1F2937;
    margin: 0px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.hero-header h3 {
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.header-link, .hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}

.hero-content {
    background-color: #1F2937;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    gap: 175px;
    flex-wrap: wrap;
}

.hero-container {
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-container p {
    margin: 20px 0px;;
}

button {
    background-color: #3882f6;
    border: 0;
    padding: 10px 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.hero-image {
    background-color: lightgray;
    height: 250px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-shrink: 0;
}