html, body, * {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

/* .hero {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.hero-header {
    background-color: #1F2937;
    margin: 0px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.hero-header h3 {
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.header-link, .hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}

.hero-content {
    background-color: #1F2937;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    gap: 175px;
    flex-wrap: wrap;
}

.hero-container {
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-container p {
    margin: 20px 0px;;
}

.hero-container button {
    background-color: #3882f6;
    border: 0;
    padding: 10px 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.hero-image {
    background-color: lightgray;
    height: 250px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-shrink: 0;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 40px 0px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-bottom: 80px;
}

.information-item {
    width: 160px;
}

.information-image {
    width: 150px;
    height: 150px;
    border: solid,#3882f6;
    border-radius: 15px;
    /* padding: 100px; */
}

.information-item p {
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 850px;
}

#quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    /* text-align: center; */
}

#quote-cite {
    text-align: end;
    font-weight: 600;
    padding-right: 50px;
    font-size: 18px;
}

.CTA-section {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTA {
    width: 1200px;
    padding: 50px 0px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.CTA p {
    color: white;
    font-size: 18px;
}

.CTA h4 {
    color: white;
    font-size: 20px;
}

.CTA button {
    background-color: #3882f6;
    padding: 10px 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px,solid,white;
}

footer {
    background-color: #1F2937;
    padding: 30px 0px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}